<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943250700246-552b54aqtkq73h6kl5399gpr89k04i9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943250700246-552b54aqtkq73h6kl5399gpr89k04i9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBCCupOX2Q_mQkPC009JRCGzU1LWcbIYy4</string>
	<key>GCM_SENDER_ID</key>
	<string>943250700246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bilty</string>
	<key>PROJECT_ID</key>
	<string>bilty-f6294</string>
	<key>STORAGE_BUCKET</key>
	<string>bilty-f6294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943250700246:ios:670ff3057bc1295b099677</string>
</dict>
</plist>